@charset "utf-8";

.externo{
    color: #012a1c;
    background-color: #01da92;
    
    font-family: Arial, Helvetica, sans-serif;
}

.textalign{
    text-align: right;
}


.container-center{

    text-align: center;
    width: 300px;
    border: 1px solid red;
}

.underline{
    text-decoration: underline;
}

.line-trough{
    text-decoration: line-through;
}

.upper{
    text-transform: uppercase;
}

.lower{
    text-transform: lowercase;
}

.espacing{
    letter-spacing: 5px;
    
}

.serif{
    font-family: Georgia;
}

.sans-serif{
 font-family: Helvetica;

}

.monospace{
font-style: "Courier New";
}

.cursive{
font-family: cursive;
}

.fantasy{
font-family: fantasy;
}

.italico{
    font-style: italic;
}

.obliquo{

    font-style: oblique;
}

.thin.bold.bolder{
    font-family: Arial, Helvetica, sans-serif;
}

.thin{
    font-weight: 100;
}

.bold{
    font-weight: 600;

}

.bolder{
    font-weight: 900;
}


.small{
    font-size: 6px;
}


.big{
    font-size: 78px;
}