

h1{
    color: red;
}

@media screen and (max-width: 500px) {
    h1{
    color: blueviolet;
  }
}

@media screen and (min-width: 800px) {
    h1{
    color: rgb(255, 238, 0);
  }
}


h3{
    display: none;
}

@media  screen and (orientation: landscape) {
    h3{
        display: block;
    }
}